In [1]:
import requests
import pandas as pd

In [4]:
url = 'https://analisi.transparenciacatalunya.cat/resource/nzvn-apee.json?$limit=1000000'

In [5]:
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)

In [6]:
df = pd.read_csv('analisis_rapido.zip')

In [7]:
df['data_lectura'] = pd.to_datetime(df['data_lectura'])

In [22]:
stations = pd.read_json('data/stations.json')

In [16]:
stations.sample(1)

,codi_estacio,nom_estacio,codi_tipus,latitud,longitud,geocoded_column,emplacament,altitud,codi_municipi,nom_municipi,...,codi_provincia,nom_provincia,codi_xarxa,nom_xarxa,codi_estat_ema,nom_estat_ema,data_inici,:@computed_region_bh64_c7uy,:@computed_region_wvic_k925,data_fi
96,WZ,Cunit,A,41.20187,1.63346,"{'type': 'Point', 'coordinates': [1.63346, 41....",-,17.0,324,Cunit,...,43,Tarragona,1,XEMA,2,Operativa,2006-06-27T00:00:00.000,425.0,33.0,NaN

In [25]:
df_snow = df[df['codi_variable'] == 38]
for station in df_snow.codi_estacio.unique():
    # print(stations[stations.codi_estacio == station].nom_comarca.values[0])
    pass
print(stations[stations.codi_estacio.isin(df_snow.codi_estacio.unique())].nom_comarca.unique())

["Val d'Aran" 'Ripollès' 'Pallars Sobirà' 'Baix Camp' 'Cerdanya'
 'Solsonès' 'Alta Ribagorça']

In [56]:
variables = pd.read_json('data/variables.json')

In [57]:
variables.head()

,codi_variable,nom_variable,unitat,acronim,codi_tipus_var,decimals
0,72,Precipitació màxima en 1 minut,mm,PPTx1min,DAT,1
1,3,Humitat relativa màxima,%,HRx,DAT,0
2,30,Velocitat del vent a 10 m (esc.),m/s,VV10,DAT,1
3,31,Direcció de vent 10 m (m. 1),°,DV10,DAT,0
4,32,Temperatura,°C,T,DAT,1

In [58]:
vrs = {} 
for variable in variables['codi_variable'].unique():
    vrs[variable] = 0

In [59]:
for data in df.data_lectura.unique():
    df_date = df[df['data_lectura'] == data]
    for variable in vrs:
        df_var = df_date[df_date['codi_variable'] == str(variable)]
        vrs[variable] += df_var.shape[0]

Variable 72 appears in 104.41705685618729 each timestamp
Variable 3 appears in 115.86672240802676 each timestamp
Variable 30 appears in 63.916220735785956 each timestamp
Variable 31 appears in 63.913879598662206 each timestamp
Variable 32 appears in 115.85418060200669 each timestamp
Variable 33 appears in 115.87056856187291 each timestamp
Variable 34 appears in 64.74030100334448 each timestamp
Variable 35 appears in 115.48076923076923 each timestamp
Variable 36 appears in 100.88963210702342 each timestamp
Variable 38 appears in 15.372240802675586 each timestamp
Variable 40 appears in 114.85234113712374 each timestamp
Variable 42 appears in 115.85133779264214 each timestamp
Variable 44 appears in 115.86939799331104 each timestamp
Variable 46 appears in 32.46973244147157 each timestamp
Variable 47 appears in 32.431103678929766 each timestamp
Variable 48 appears in 11.451170568561873 each timestamp
Variable 49 appears in 11.451170568561873 each timestamp
Variable 50 appears in 63.91170568561873 each timestamp
Variable 51 appears in 63.909364548494985 each timestamp
Variable 53 appears in 11.451170568561873 each timestamp
Variable 54 appears in 11.451170568561873 each timestamp
Variable 56 appears in 32.46989966555184 each timestamp
Variable 57 appears in 32.4314381270903 each timestamp
Variable 59 appears in 16.544147157190636 each timestamp
Variable 1 appears in 64.68695652173913 each timestamp
Variable 2 appears in 64.68712374581939 each timestamp

In [61]:
for v in vrs:
    print(f'Variable {variables[variables.codi_variable == v].acronim.values[0]} appears in {vrs[v] / len(df.data_lectura.unique())} each timestamp')

Variable PPTx1min appears in 104.41705685618729 each timestamp
Variable HRx appears in 115.86672240802676 each timestamp
Variable VV10 appears in 63.916220735785956 each timestamp
Variable DV10 appears in 63.913879598662206 each timestamp
Variable T appears in 115.85418060200669 each timestamp
Variable HR appears in 115.87056856187291 each timestamp
Variable P appears in 64.74030100334448 each timestamp
Variable PPT appears in 115.48076923076923 each timestamp
Variable RS appears in 100.88963210702342 each timestamp
Variable GNEU appears in 15.372240802675586 each timestamp
Variable Tx appears in 114.85234113712374 each timestamp
Variable Tn appears in 115.85133779264214 each timestamp
Variable HRn appears in 115.86939799331104 each timestamp
Variable VV2 appears in 32.46973244147157 each timestamp
Variable DV2 appears in 32.431103678929766 each timestamp
Variable VV6 appears in 11.451170568561873 each timestamp
Variable DV6 appears in 11.451170568561873 each timestamp
Variable VVx10 appears in 63.91170568561873 each timestamp
Variable DVVx10 appears in 63.909364548494985 each timestamp
Variable VVx6 appears in 11.451170568561873 each timestamp
Variable DVVx6 appears in 11.451170568561873 each timestamp
Variable VVx2 appears in 32.46989966555184 each timestamp
Variable DVVx2 appears in 32.4314381270903 each timestamp
Variable RN appears in 16.544147157190636 each timestamp
Variable Px appears in 64.68695652173913 each timestamp
Variable Pn appears in 64.68712374581939 each timestamp

In [62]:
df.data_lectura.min()

'2010-05-10T11:00:00.000'

In [63]:
df.data_lectura.max()

'2010-09-12T00:30:00.000'